.purple{
    background: rgb(214, 240, 248);
    font-style: italic;
    border: 4px rgb(202, 11, 232) solid;
    color: rgb(202, 11, 232);
}
.green{
    background: rgb(255, 249, 183);
    font-style: normal;
    border: 4px rgb(0, 255, 72) solid;  
    color: rgb(0, 255, 72); 
}
